body{
  margin: 0;
  padding-top: 150px;
  padding-bottom: 10px;
  height: 100vh;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: lighter;
  color: #000000;
  transition: background 150ms ease-in-out, color 150ms ease-in-out;
}

html {
  scroll-behavior: smooth;
}

body[data-theme="dark"]{
  background: #11131f;
  color: #767d96;
}

section{
  position: relative;
  top: 0;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px 0 0;
  position: relative;
  /* min-height: 20vh; */
}

header{
  position: relative;
  margin: 0 0 150px;
  padding-left: 100px;
}

body[data-theme="dark"] .profile-image-container img{
  width: 60px;
  height: 60px;
  left: 2px;
      }

      /* .profile-image-container::before{
      content: '';
      position: absolute;
      top: 6px;
      left: 6px;
      width: 64px;
      height: 64px;
      border-radius: 999px;
      background: #ffca57;
      } */

/* .profile-image-container{
  position: relative;
  width: 64px;
  height: 64px;
  margin-right: 20px;
  background: radial-gradient(circle at center, #ffca57 0, #ffca57 31px, transparent 32px);
  clip-path: path('M 0 -6 L 0,32 A 1,1 0,0,0 64,32 L 64 -6 z');
  left: 0;
  top: -12px;
} */

/* .profile-image-container img{
width: 100%;
height: 100%;
position: absolute;
width: 70px;
height: 70px;
bottom: 0;
left: -3px;
transition: all 150ms ease-in-out;
border-radius: 999px;
} */

.profile-image-container{
  position: absolute;
  width: 75px;
  height: 75px;
  left: 0;
  top: -12px;
}

.profile-image-container img{
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 999px;
  transition: all 150ms ease-in-out;
}

body[data-theme="dark"] .profile-image-container img {
  width: 75px;
  height: 75px;
  left: 0;
}

header nav{
  position: absolute;
  right: 0;
  top: 12px;
  flex: 1;
  text-align: right;
}

header nav a{
  opacity: 0.666;
  margin-right: 25px;
}

header nav button{
  /* transform: rotate(40deg); */
  width: 22px;
}

/* icons */
a,
a:active,
a:visited,
a:focus,
a:focus{
  color: inherit;
  /* color: #000000; */
  text-decoration: none;
  border-bottom: dashed 1px;
  padding-bottom: 2px;
  transition: border-bottom-color 500ms ease-in-out;
}

a:hover{
  /* color: inherit; */
  color: #1879cd;
  border-bottom: solid 1px rgba(0, 0, 0, 0.4);
  border-bottom-style: solid;
  outline: none;
  transition: 1s;
}

a:focus, button:focus-visible{
  outline-color: #1879cd;
  outline-offset: 4px;
  outline-width: 1px;
}

button{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 0;
  border: none;
  font-size: inherit;
  cursor: pointer;
  background: none;
  color: inherit;
}

button:focus {
  outline-width: 0;
}

#theme-button {
  width: 35px;
  height: 35px;
  padding-left: 4px;
  line-height: 1em;
  text-align: center;
}

h1{
  margin: 0 0 1px;
  font-size: 20px;
  font-weight: 500;
  opacity: 0.855;
  transition: color 150ms ease-in-out;
}

h2{
  margin: 0;
  font-weight: 400;
  font-size: 17px;
  opacity: 0.535;
  transition: color 150ms ease-in-out;
}

h3{
  font-size: 15px;
  opacity: 0.535;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0 0 35px;
  transition: color 150ms ease-in-out;
}

h4{
  font-size: 17px;
  font-weight: 500;
  opacity: 0.855;
  margin: 0 0 8px;
  transition: color 150ms ease-in-out;
}

h5{
  font-size: 18px;
  font-weight: 400;
  opacity: 0.666;
  margin: 0 0 28px;
  transition: color 150ms ease-in-out;
}

h6{
  font-size: 14px;
  font-weight: 400;
  opacity: 0.666;
  transition: color 150ms ease-in-out;
}

body[data-theme="dark"] h1,
body[data-theme="dark"] h3,
body[data-theme="dark"] h6,
body[data-theme="dark"] blockquote{
  color: #ffffff;
}

body[data-theme="dark"] h2,
body[data-theme="dark"] h4,
body[data-theme="dark"] h5{
  color: #767d96;
}

.status {
  margin-bottom: 20px;
}

.tag {
  font-size: 12px;
  font-weight: 400;
  padding: 5px 15px;
  border-radius: 3px;
  vertical-align: text-top;
  display: inline-block;
  white-space: nowrap;
  transition: color 150ms ease-in-out;
}

.tag-primary {
  background: #1879cd;
  color: #fff;
}

.tag-secondary {
  background: #0b8939;
  color: #fff;
}

blockquote{
  margin: 0 0 150px 0;
  font-size: 24px;
  line-height: 1.5625em;
  opacity: 0.666;
  max-width: 970px;
  font-weight: 300;
  transition: color 150ms ease-in-out;
}

.container-img-list-header{
  position: relative;
  margin: 0 auto;
  max-width: 1140px;
  padding: 0 15px 0 0;
}

.container-img-list{
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 0 150px 0;
}

.container-img-list h3{
  text-align: left;
}

.container-img-list ul{
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  display: hidden;
}

.content-wrapper img{
  width: 100%;
  height: 40%;
  object-position: 30% 50%;
  object-fit: cover;
  display: list-item;
  opacity: 0;
  transition: 1s ease-in-out;
}

.content-wrapper img:hover{
  opacity: 1;
}

.content-wrapper{
  width: 100%;
  margin: 0;
  padding: 0;
}

.text-content{
  position: absolute;
  margin: 50px 50px 50px 50px;
  font-weight: 300;
  font-size: 24px;
  width: 90%;
  pointer-events: none;
  z-index: 1;
}

.text-content h1{
  position: relative;
  font-size: 25px;
  text-align: left;
}

.text-content h1,
.text-content h4{
  /* display: inline-flex; */
}

.text-content p,
.text-content h4{
  margin-bottom: 10px;
}

.text-content h4{
  text-align: right;
  font-size: 40px;
  text-align: right;
}

.text-content p{
  opacity: .9;
  padding-left: 70%;
  font-size: 22px;
  text-align: justify;
}

.container-footer{
  position: relative;
  max-width: 1140px;
  /* margin: 0 auto; */
  padding: 0 150px 100px 0;
  margin-right: 100px;
  /* min-height: 20vh; */
}

.footer-content{
  position: relative;
  margin: 0 0 100px 0;
  width: 100%;
}

.footer-content h1,
.footer-content h2{
  text-align: right;
}

.footer-content h1{
  font-size: 40px;
}

.footer-content h2{
  font-size: 25px;
}

/* Footer */
#footer{
  position: relative;
  bottom: 0;
  width: 100%;
  /* height: 60px; */
  /* position: sticky;
  bottom: 0;
  top: 100%; */
}

#content-wrap{
  /* padding-top: 100px;
  padding-bottom: 2.5rem; */
  width: 100%;
  margin: 0 auto;
}

.Footer-Img{
  background-image: url(Img/for2-min.jpg);
  height: 40vh;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  border-radius: 0;
  box-shadow: 0 0 200px rgba(0, 0, 0, 0.9) inset;
}

.foot{
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}


@media (max-width: 972px) {
  blockquote br {
    display: none;
    }
  }

@media (max-width: 768px){
  body{
    /* padding-top: 100px; */
    min-height: 100vh;
  }

  body[data-theme="dark"] .profile-image-container img {
    width: 84px;
    height: 84px;
    }

  .container,
  .container-footer,
  .container-list-header{
    padding: 0 30px 1rem;
  }

  .container-footer{
    margin: 0;
  }

  header{
    /* flex-direction: column; */
    padding-left: 0;
    text-align: center;
    margin-bottom: 50px;
  }

  header nav {
    /* margin-right: -10px; */
    text-align: center;
    padding-top: 15px;
    position: static;
    font-size: 13px;
  }

  header nav a {
    margin-right: 10px;
    opacity: 0.4;
  }

  .profile-image-container{
    position: relative;
    width: 90px;
    height: 90px;
    /* background: radial-gradient(circle at center, #ffca57 0, #ffca57 46px, transparent 47px); */
    /* clip-path: path('M 0 -6 L 0,47 A 1,1 0,0,0 94,47 L 94 -6 z'); */
    display: inline-block;
    margin-right: 0;
    margin-bottom: 2px;
    top: auto;
    left: auto;
  }

  .profile-image-container img{
    width: 84px;
    height: 84px;
    transition: color 150ms ease-in-out;
  }

  /* .profile-image-container:before{
    width: 94px;
    height: 94px;
    top: 5px;
    left: 7px;
  } */

  h1{
    margin-bottom: 3px;
    transition: color 150ms ease-in-out;
  }

  h2{
    /* display: none; */
  }

  h3{
    font-size: 11px;
    transition: color 150ms ease-in-out;
  }

  h4{
    font-size: 15px;
    padding-top: 30px;
    position: relative;
    transition: color 150ms ease-in-out;
  }

  h5{
    font-size: 14px;
    transition: color 150ms ease-in-out;
  }

  .status {
    text-align: center;
    margin-bottom: 10px;
    transition: color 150ms ease-in-out;
  }

  .tag {
    padding: 4px 11px;
  }

  blockquote{
    text-align: center;
    font-size: 17px;
    margin-bottom: 50px;
    transition: color 150ms ease-in-out;
  }

  #footer {
    position: relative;
    width: 100%;
    height: 30vh;
    /* height: 2.5rem; */
  }

  #content-wrap {
    bottom: 0;
    /* padding-top: 100px;
    padding-bottom: 2.5rem; */
  }


} /* Media end */
