::selection {
  background: #446B40;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding-top: 150px;
  padding-bottom: 10px;
  height: 100vh;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: lighter;
  color: #000000;
  transition: background 150ms ease-in-out, color 150ms ease-in-out;
}

body[data-theme="dark"] {
  background: #11131f;
  color: #767d96;
}

section {
  position: relative;
  top: 0;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px 0 0;
  position: relative;
  /* min-height: 20vh; */
}

header {
  position: relative;
  margin: 0 0 150px;
  padding-left: 100px;
}

body[data-theme="dark"] .profile-image-container img {
  width: 60px;
  height: 60px;
  left: 2px;
}

/* .profile-image-container::before{
      content: '';
      position: absolute;
      top: 6px;
      left: 6px;
      width: 64px;
      height: 64px;
      border-radius: 999px;
      background: #ffca57;
      } */
/* .profile-image-container{
  position: relative;
  width: 64px;
  height: 64px;
  margin-right: 20px;
  background: radial-gradient(circle at center, #ffca57 0, #ffca57 31px, transparent 32px);
  clip-path: path('M 0 -6 L 0,32 A 1,1 0,0,0 64,32 L 64 -6 z');
  left: 0;
  top: -12px;
} */
/* .profile-image-container img{
width: 100%;
height: 100%;
position: absolute;
width: 70px;
height: 70px;
bottom: 0;
left: -3px;
transition: all 150ms ease-in-out;
border-radius: 999px;
} */
.profile-image-container {
  position: absolute;
  width: 75px;
  height: 75px;
  left: 0;
  top: -12px;
}

.profile-image-container img {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 999px;
  transition: all 150ms ease-in-out;
}

body[data-theme="dark"] .profile-image-container img {
  width: 75px;
  height: 75px;
  left: 0;
}

header nav {
  position: absolute;
  right: 0;
  top: 12px;
  flex: 1;
  align-items: flex-end;
  text-align: right;
}

header nav a {
  opacity: 0.7;
  margin-right: 20px;
}

header nav button {
  /* transform: rotate(40deg); */
  width: 30px;
}

/* icons */
nav a,
nav a:active,
nav a:visited,
nav a:focus {
  color: inherit;
  text-decoration: none;
  border-bottom: dashed 1px;
  padding-bottom: 2px;
  transition: border-bottom-color 500ms ease-in-out;
}

nav a:hover {
  color: #446B40;
  border-bottom: solid 1px rgba(0, 0, 0, 0.4);
  border-bottom-style: solid;
  outline: none;
  transition: 1000ms;
}

nav a:focus, button:focus-visible {
  outline-color: #446B40;
  outline-offset: 4px;
  outline-width: 1px;
}

button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 0;
  border: none;
  font-size: inherit;
  cursor: pointer;
  background: none;
  color: inherit;
}

button:focus {
  outline-width: 0;
}

#theme-button {
  width: 35px;
  height: 35px;
  padding-left: 4px;
  line-height: 1em;
  text-align: center;
}

h1 {
  margin: 0 0 1px;
  font-size: 20px;
  font-weight: 500;
  opacity: 0.9;
  transition: color 150ms ease-in-out;
}

h2 {
  margin: 0;
  font-weight: 400;
  font-size: 17px;
  opacity: 0.7;
  transition: color 150ms ease-in-out;
}

h3 {
  font-size: 15px;
  opacity: 0.7;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0 0 35px;
  transition: color 150ms ease-in-out;
}

h4 {
  font-size: 17px;
  font-weight: 500;
  opacity: 0.855;
  margin: 0 0 8px;
  transition: color 150ms ease-in-out;
}

h5 {
  font-size: 18px;
  font-weight: 400;
  opacity: 0.666;
  margin: 0 0 28px;
  transition: color 150ms ease-in-out;
}

h6 {
  font-size: 14px;
  font-weight: 400;
  opacity: 0.666;
  transition: color 150ms ease-in-out;
}

.container-img-list h1,
.container-img-list h4 {
  opacity: 0.7;
  transition: color 150ms ease-in-out;
}

body[data-theme="dark"] h1,
body[data-theme="dark"] h3,
body[data-theme="dark"] h6,
body[data-theme="dark"] blockquote {
  color: #ffffff;
}

body[data-theme="dark"] h2,
body[data-theme="dark"] h4,
body[data-theme="dark"] h5 {
  color: #767d96;
}

.status {
  margin-bottom: 20px;
}

.tag {
  font-size: 12px;
  font-weight: 400;
  padding: 5px 15px;
  border-radius: 3px;
  vertical-align: text-top;
  display: inline-block;
  white-space: nowrap;
  transition: color 150ms ease-in-out;
}

.tag-primary {
  background: #446B40;
  color: #fff;
}

.tag-secondary {
  background: #0b8939;
  color: #fff;
}

.container blockquote {
  margin: 0 0 100px 0;
  font-size: 24px;
  line-height: 1.5625em;
  opacity: 0.8;
  max-width: 970px;
  font-weight: 300;
  transition: color 150ms ease-in-out;
}

.container-img-list-header {
  position: relative;
  margin: 0 auto;
  max-width: 1140px;
  padding: 0 0 50px 0;
  align-items: center;
  text-align: center;
}

.container-img-list {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 0 150px 0;
}

.container-img-list ul {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  display: hidden;
}

.content-wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
}

.content-wrapper img {
  width: 100%;
  height: 45%;
  object-position: 30% 50%;
  object-fit: cover;
  display: list-item;
  opacity: 0;
  transition: 1s ease-in-out;
}

.content-wrapper img:hover {
  opacity: 1;
}

.text-content {
  position: absolute;
  margin: 50px 50px 50px 50px;
  font-weight: 300;
  color: inherit;
  width: 90%;
  pointer-events: none;
  line-height: 1.5625em;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.text-content-right {
  position: absolute;
  right: 0;
  width: 400px;
}

.container-img-list-header h1 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 15px;
}
.text-content h1 {
  position: relative;
  font-weight: normal;
  font-size: 18px;
  text-align: left;
  opacity: 0.9;
}

.text-content h4 {
  font-size: 45px;
  opacity: 0.9;
  margin-bottom: 10px;
}

.text-content h3 {
  margin: 0;
  padding: 0;
}

.text-content h5 {
  font-size: 20px;
  opacity: 0.9;
  padding: 0;
  margin-bottom: 5px;
}

.text-content p {
  font-size: 16px;
  text-align: justify;
  justify-content: inner-text;
  margin: 0;
  padding: 0;
  opacity: .9;
}

/* RESUME */
.container__resume {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px 100px 0;
  position: relative;
  /* min-height: 20vh; */
}

.resume-item {
  margin-bottom: 80px;
}

.resume-item .tag {
  margin-left: 15px;
}

.resume-item ul {
  list-style-type: none;
  padding: 0;
  margin: 0 0 28px;
}

.resume-item li {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 10px;
  line-height: 1.4em;
}

.resume-item-date {
  margin: 0;
  font-size: 15px;
  opacity: 0.8;
}

.resume-item h5 a {
  font-size: 15px;
}

.resume-item a,
.resume-item a:active,
.resume-item a:focus {
  color: inherit;
  text-decoration: none;
  border-bottom: dashed 1px;
  padding-bottom: 2px;
  transition: border-bottom-color 500ms ease-in-out;
}

.resume-item a:hover {
  border-bottom-style: solid;
  outline: none;
  transition: 1s;
}


/* FOOTER */
.container-footer {
  position: relative;
  max-width: 1140px;
  min-height: 20vh;
  margin: 0 auto;
  padding: 0 150px 0 0;
  margin-right: 100px;
}

.footer-content {
  position: absolute;
  right: 0;
  width: 400px;
  padding-right: 200px;
  opacity: 0;
  transform: translateY(3rem);
  /* animation: 2s footer-content__fade-in 2000ms ease-in-out forwards; */
  animation-name: footer-content__fade-in;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-duration: 2000ms;
  animation-delay: 2000ms;
}

.footer-content h1 {
  font-size: 50px;
}

.footer-content h2 {
  font-size: 18px;
  opacity: 0.8;
}

.footer-content a,
.footer-content a:active,
.footer-content a:visited,
.footer-content a:focus {
  color: inherit;
  text-decoration: none;
}

.footer-content a h1:hover {
  color: #446B40;
  cursor: pointer;
  transition: 500ms;
}

#footer {
  position: relative;
  bottom: 0;
  width: 100%;
  /* height: 60px; */
  /* position: sticky;
  bottom: 0;
  top: 100%; */
}

#content-wrap {
  /* padding-top: 100px;
  padding-bottom: 2.5rem; */
  width: 100%;
  margin: 0 auto;
}

.Footer-Img {
  background-image: url(Img/for2-min.jpg);
  height: 40vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  border-radius: 0;
  box-shadow: 0 0 200px rgba(0, 0, 0, 0.9) inset;
}

.foot {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

@keyframes footer-content__fade-in {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@media (max-width: 972px) {
  blockquote br {
    display: none;
  }
}

@media (max-width: 768px) {
  body {
    /* padding-top: 100px; */
    min-height: 100vh;
  }

  body[data-theme="dark"] .profile-image-container img {
    width: 84px;
    height: 84px;
  }

  .container,
  .container-footer,
  .container-list-header {
    padding: 0 30px 1rem;
  }

  .container-footer {
    margin: 0;
  }

  header {
    /* flex-direction: column; */
    padding-left: 0;
    text-align: center;
    margin-bottom: 50px;
  }

  header nav {
    /* margin-right: -10px; */
    text-align: center;
    padding-top: 15px;
    position: static;
    font-size: 13px;
  }

  header nav a {
    margin-right: 10px;
    opacity: 0.4;
  }

  .profile-image-container {
    position: relative;
    width: 90px;
    height: 90px;
    /* background: radial-gradient(circle at center, #ffca57 0, #ffca57 46px, transparent 47px); */
    /* clip-path: path('M 0 -6 L 0,47 A 1,1 0,0,0 94,47 L 94 -6 z'); */
    display: inline-block;
    margin-right: 0;
    margin-bottom: 2px;
    top: auto;
    left: auto;
  }

  .profile-image-container img {
    width: 84px;
    height: 84px;
    transition: color 150ms ease-in-out;
  }

  /* .profile-image-container:before{
    width: 94px;
    height: 94px;
    top: 5px;
    left: 7px;
  } */
  h1 {
    margin-bottom: 3px;
    transition: color 150ms ease-in-out;
  }

  h2 {
    /* display: none; */
  }

  h3 {
    font-size: 11px;
    transition: color 150ms ease-in-out;
  }

  h4 {
    font-size: 15px;
    padding-top: 30px;
    position: relative;
    transition: color 150ms ease-in-out;
  }

  h5 {
    font-size: 14px;
    transition: color 150ms ease-in-out;
  }

  .status {
    text-align: center;
    margin-bottom: 10px;
    transition: color 150ms ease-in-out;
  }

  .tag {
    padding: 4px 11px;
  }

  blockquote {
    text-align: center;
    font-size: 17px;
    margin-bottom: 50px;
    transition: color 150ms ease-in-out;
  }

  .content-wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .content-wrapper img {
    width: 100%;
    height: 35%;
    object-position: 30% 50%;
    object-fit: cover;
    display: list-item;
    opacity: 0;
    transition: 1s ease-in-out;
  }

  .content-wrapper img:hover {
    opacity: 1;
  }

  .text-content {
    position: absolute;
    margin: 50px 50px 50px 50px;
    font-weight: 300;
    color: inherit;
    width: 90%;
    pointer-events: none;
    line-height: 1.5625em;
    display: flex;
    flex-direction: column;
    z-index: 1;
  }

  .text-content-right {
    position: absolute;
    right: 0;
    width: 400px;
  }

  .text-content h1 {
    position: relative;
    font-weight: normal;
    font-size: 18px;
    text-align: left;
    opacity: 0.9;
  }

  .text-content h4 {
    font-size: 30px;
    opacity: 0.9;
    margin-bottom: 10px;
  }

  .text-content h3 {
    margin: 0;
    padding: 0;
  }

  .text-content h5 {
    font-size: 18px;
    opacity: 0.9;
    padding: 0;
    margin-bottom: 5px;
  }

  .text-content p {
    font-size: 15px;
    text-align: justify;
    justify-content: inner-text;
    margin: 0;
    padding: 0;
    opacity: .9;
  }

  .container-footer {
    position: relative;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 100px 100px 0;
    margin-right: 100px;
    /* min-height: 20vh; */
  }

  .footer-content {
    position: absolute;
    right: 0;
    width: 200px;
  }

  .footer-content h1 {
    font-size: 40px;
  }

  .footer-content h2 {
    font-size: 20px;
    opacity: 0.8;
  }

  #footer {
    /* position: relative; */
    /* width: 100%; */
    /* height: 30vh; */
    /* height: 2.5rem; */
  }

  #content-wrap {
    /* bottom: 0; */
    /* padding-top: 100px;
    padding-bottom: 2.5rem; */
  }
}

/* Media end */
